<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link rel="canonical" href="https://weather-pwa-sample.firebaseapp.com/final/"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Aero Weather</title>

    <!-- <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" > -->
    <script src="js/angular/angular.min.js"></script>
    <script src="js/jquery/jquery-3.2.1.min.js"></script>

    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="~/css/inline.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/inline.min.css" asp-append-version="true" />
    </environment>    
    <!-- TODO add manifest here -->
    <link rel="manifest" href="/manifest.json">    
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Aero Weather">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <meta name="theme-color" content="#317EFB"/>
    
    <script type="text/javascript">
        (function(document,navigator,standalone) {
            if ((standalone in navigator) && navigator[standalone]) {
                var curnode, location=document.location, stop=/^(a|html)$/i;
                document.addEventListener('click', function(e) {
                    curnode=e.target;
                    while (!(stop).test(curnode.nodeName)) {
                        curnode=curnode.parentNode;
                    }
                    if('href' in curnode && ( curnode.href.indexOf('http') || ~curnode.href.indexOf(location.host) ) ) {
                        e.preventDefault();
                        location.href = curnode.href;
                    }
                },false);
            }
        })(document,window.navigator,'standalone');
    </script>
</head>

<body>
    <header class="header">
        <h1 class="header__title">Aero Weather</h1>
        @RenderSection("headerButtons", required: false)                       
    </header>

    @RenderBody()
    
    @RenderSection("scripts", required: false)

</body>
</html>
