@{
    ViewData["Title"] = "Charts Page";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
function codeAddress(icao) {
    $.ajax({
            url: "/Charts/" + icao,
            type: "GET",
            success: function (data) {
                $("#tb tr").remove(); 
                var table = document.getElementById('tb');
                $.each(data.cartas[0].item, function (i, obj) {
                    var tr = document.createElement('tr');
                    tr.innerHTML = '<td><a href='+ obj.link +'>' + obj.nome + '</a></td>';
                    table.appendChild(tr);
                });
            }
        });
}

$(document).ready(function() {
    $('#btnPesquisar').click(function() {
      codeAddress($('#txtIcao').val());
    });
});
</script>

<input id="txtIcao" ng-model="sbsp"></input>
<input type="button" id="btnPesquisar" value="Pesquisar"></input>

<div ng-app="">
<table id="tb">
    
</table>
</div>