@{
    ViewData["Title"] = "Charts Page";
}
<h2>@ViewData["Title"].</h2>

<script type="text/javascript">
function getAeroInfo(icao) {
    $.ajax({
        url: "/Info/" + icao,
        type: "GET",
        success: function (data) {
            $("#div p").remove(); 
            var div = document.getElementById('div');
            var p = document.createElement('p');
            p.innerHTML = data.info[0].aeroCode + ' - ' + data.info[0].name;
            div.appendChild(p);
        }
    });
}

function getCharts(icao) {
    $.ajax({
        url: "/Charts/" + icao,
        type: "GET",
        success: function (data) {
            $("#tb tr").remove(); 
            var table = document.getElementById('tb');
            var tr = document.createElement('tr');
            tr = document.createElement('tr');
            tr.innerHTML = '<td>Tipo</td><td>Carta</td>';
            table.appendChild(tr);
            $.each(data.cartas[0].item, function (i, obj) {
                tr = document.createElement('tr');
                var td = document.createElement('td');
                td.innerHTML = obj.tipo;
                tr.appendChild(td);

                td = document.createElement('td');
                td.innerHTML = '<a target="_blank" href='+ obj.link +'>' + obj.nome + '</a>';

                tr.appendChild(td);
                table.appendChild(tr);
            });
        }
    });
}

$(document).ready(function() {
    var icao = "@ViewData["icao"]";
    getAeroInfo(icao);
    getCharts(icao);
});
</script>

<div class="card cardTemplate weather-forecast" >
    <div id="div"></div>    
    <div class="table-responsive">
        <table class="table" id="tb"></table>
    </div>
    <br>
    <a href="/Home" class="btn btn-primary">Voltar</a>
</div>