@{
    ViewData["Title"] = "Home Page";
}
<main class="main">
    <div class="card cardTemplate weather-forecast" hidden>
        <div class="icao-key" hidden></div>
        <div class="card-last-updated" hidden></div>
        <div class="icao"></div>
        <div class="date"></div>
        <div class="metar"></div>
        <div class="taf"></div>
    </div>
</main>
<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">Add new Airport</div>
        <div class="dialog-body">
            <input id="selectAirportToAdd"></input>
        </div>
        <div class="dialog-buttons">
            <button id="butAddCity" class="button">Add</button>
            <button id="butAddCancel" class="button">Cancel</button>
        </div>
    </div>
</div>
