@{
    ViewData["Title"] = "Home Page";
}

<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>

<main class="main">
    <div class="card cardTemplate weather-forecast" hidden>
        <div class="city-key" hidden></div>
        <div class="card-last-updated" hidden></div>
        <div class="name"></div>
        <div class="location" hidden></div>
        <div class="metar"></div>
        <div class="taf"></div>
        </br>
        <div>
            <a class="linkCharts btn btn-primary"></a> <a class="linkNotam btn btn-primary"></a>
        </div>
    </div>
</main>

@section headerButtons{
    <button id="butRefresh" class="headerButton" aria-label="Refresh"></button>
    <button id="butAdd" class="headerButton" aria-label="Add"></button>   
}

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">Add new Airport</div>
        <div class="dialog-body">
            <input style="font-size:16px" id="selectAirportToAdd" type="text"></input>
        </div>
        <div class="dialog-buttons">
            <button id="butAddCity" class="button">Add</button>
            <button id="butAddCancel" class="button">Cancel</button>
        </div>
    </div>
</div>    

<div class="loader" hidden>
    <svg viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
</div>

<environment names="Development">
    <script src="~/js/app.js" async asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/app.js" async asp-append-version="true"></script>
</environment>
