@{
    ViewData["Title"] = "Home Page";
}
<main class="main">
    <div class="card cardTemplate weather-forecast" hidden>
        <div class="city-key" hidden></div>
        <div class="card-last-updated" hidden></div>
        <div class="location"></div>
        <div class="metar"></div>
        <div class="taf"></div>
        </br>
        <div><a class="linkCharts"></a> <a class="linkNotam"></a></div>
    </div>
</main>

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">Add new airport</div>
        <div class="dialog-body">
            <input id="selectCityToAdd" type="text"></input>
        </div>
        <div class="dialog-buttons">
            <button id="butAddCity" class="button">Add</button>
            <button id="butAddCancel" class="button">Cancel</button>
        </div>
    </div>
</div>

<div class="loader">
    <svg viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
</div>

<environment names="Development">
    <script src="~/js/app.js" async asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/app.js" async asp-append-version="true"></script>
</environment>
