@{
    ViewData["Title"] = "Charts Page";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<script type="text/javascript">
function getNotam(icao) {
    $.ajax({
        url: "/Notam/" + icao,
        type: "GET",
        success: function (data) {
            $("#div p").remove(); 
            var div = document.getElementById('div');
            //$.each(data.met[0], function (i, obj) {
                var p = document.createElement('p');

                var notam = data.notam[0];

                p.innerHTML = notam.loc + ' - ' + notam.aero;
                div.appendChild(p);

                p = document.createElement('p');
                p.innerHTML = 'B - ' + notam.b;
                div.appendChild(p);

                p = document.createElement('p');
                p.innerHTML = 'C - ' + notam.c;
                div.appendChild(p);

                p = document.createElement('p');
                p.innerHTML = 'E - ' + notam.e;
                div.appendChild(p);
            //});
        }
    });
}

$(document).ready(function() {
    var icao = "@ViewData["icao"]";
    getNotam(icao);
});
</script>

<div ng-app="">
    <div id="div"></div>
    <br>
    <a href="/Home">Voltar</a>
</div>