@{
    ViewData["Title"] = "Charts Page";
}
<h2>@ViewData["Title"].</h2>
<script>
    var app = angular.module("app", []);
    app.controller("notamController", function ($scope, $http) {
        $scope.GetAllData = function (icao) {
            $http.get('/Notam/' + icao)
            .then(function (response) {
                $scope.Notam = response.data.notam;
            });
        };

        var icao = "@ViewData["icao"]";
        $scope.GetAllData(icao);
    });
</script>
<div class="card cardTemplate weather-forecast">
    <div ng-app="app" ng-controller="notamController">
    <p ng-cloak>{{Notam[0].aero[0] + ' - ' + Notam[0].cidade[0] + '/' + Notam[0].uf[0] + ' | ' + Notam[0].fir[0]}}</p>
    <table>
        <tr ng-repeat="n in Notam">
           <td>
               <p ng-bind="n.n[0]"></p>
               <p ng-bind="n.b[0]"></p>
               <p ng-bind="n.c[0]"></p>
               <p ng-bind="n.e[0]"></p>
           </td>
        </tr>
    </table>
    </div>
    <hr />
    <a href="/Home" class="btn btn-primary">Voltar</a>
</div>