@{
    ViewData["Title"] = "Charts Page";
}
<h2>@ViewData["Title"].</h2>
<script>
    var app = angular.module("app", []);
    app.controller("notamController", function ($scope, $http) {
        $scope.GetNotam = function (icao) {
            $http.get('/Notam/' + icao)
            .then(function (response) {
                $scope.Notam = response.data.notam;
            });
        };
        var icao = "@ViewData["icao"]";
        $scope.GetNotam(icao);
    });
</script>
<div class="card cardTemplate weather-forecast">
    <div ng-cloak ng-show="Notam != null" ng-app="app" ng-controller="notamController">
    <p>{{Notam[0].aero[0] + ' - ' + Notam[0].cidade[0] + '/' + Notam[0].uf[0] + ' | ' + Notam[0].fir[0]}}</p>
    <table class="table table-responsive">
        <tr ng-repeat="n in Notam">
            <td>
                <p ><strong ng-bind="n.n[0]"></strong></p>
            </td>
            <td>
                <p>B <strong>{{n.b[0]}}</strong></p>
                <p>C <strong>{{n.c[0]}}</strong></p>
                <p>E <span style="white-space:pre-wrap;"><strong>{{n.e[0]}}</strong></span></p>
            </td>
        </tr>
    </table>
    </div>
    <hr />
    <a href="/Home" class="btn btn-primary">Voltar</a>
</div>